.ele{
    justify-content: left;
    width: 500px;
    height: 800px;
}
.co{
    display: flex;
}
.bo{
    box-shadow: 1px 1px 1px 1px black;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.cont{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    box-shadow: 1px 1px 1px 1px black;
    padding: 30px;
}
.enq{
    background-color:rgb(21, 109, 191);
    width: 180px;
    height: 50px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}
.in1{
    margin-left: 175px;
    padding: 5px;
    margin-top: 5px;
} 
.in3{
    padding: 20px;
    margin-left: 80px;
}
.comm{
    margin-right: 93px;
}