.maintable {
    box-shadow: 2px 2px 5px 2px lightslategray;
    width: 1200px;
    height: 500px;
    margin-left: 200px;
    margin-bottom: 20px;
}
.edtbutton{
    background-color:rgb(21, 109, 191);
    color: white;
    font-weight: 400;
    border-radius: 5px;
    border-color: lightcyan;
   
}
.edtbutton:hover {background-color: #3e8e41}

.subbutton{
    background-color:rgb(21, 109, 191);
    width: 180px;
    height: 50px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    border-color: lightcyan;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.subbutton:hover {background-color: #3e8e41}